apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: test-cluster-demo
  namespace: test-cluster-demo
  labels:
    environment: development
    company: Red Hat
spec:
  baseDomain: openshiftpartnerlabs.com
  clusterName: test-cluster-demo
  platform:
    aws:
      region: us-east-1
      credentialsSecretRef:
        name: aws-creds
  provisioning:
    imageSetRef:
      name: img4.20.10-x86-64-appsub
    installConfigSecretRef:
      name: install-config
  pullSecretRef:
    name: pull-secret
---
apiVersion: v1
kind: Secret
metadata:
  name: install-config
  namespace: test-cluster-demo
type: Opaque
stringData:
  install-config.yaml: |
    apiVersion: v1
    baseDomain: openshiftpartnerlabs.com
    metadata:
      name: test-cluster-demo
    platform:
      aws:
        region: us-east-1
    controlPlane:
      name: master
      platform:
        aws:
          type: m5.xlarge
      replicas: 3
    compute:
    - name: worker
      platform:
        aws:
          type: m5.2xlarge
          zones:
          - us-east-1a
          - us-east-1b
          - us-east-1c
      replicas: 2
    networking:
      clusterNetwork:
      - cidr: 10.128.0.0/14
        hostPrefix: 23
      serviceNetwork:
      - 172.30.0.0/16
      machineNetwork:
      - cidr: 10.0.0.0/16
      networkType: OVNKubernetes
    pullSecret: ""
    sshKey: ""
